<section class="autoparc">
  <div class="container">
    <h2 class="autoparc__title">
      Наш автопарк
    </h2>
    <div class="autoparc__slider owl-carousel">
      <div class="autoparc__item">
        <img src="./assets/images/kalina.png" alt="">
        <div class="autoparc__text">LADA Kalina
        </div>
      </div>
      <div class="autoparc__item">
        <img src="./assets/images/scion.png" alt="">
        <div class="autoparc__text">Toyota Scion xB
        </div>
      </div>
      <div class="autoparc__item">
        <img src="./assets/images/duster.png" alt="">
        <div class="autoparc__text">Renault Duster
        </div>
      </div>
      <div class="autoparc__item">
        <img src="./assets/images/logan.png" alt="">
        <div class="autoparc__text">Renault Logan 2012
        </div>
      </div>
      <div class="autoparc__item">
        <img src="./assets/images/rio.png" alt="">
        <div class="autoparc__text">Kia Rio
        </div>
      </div>
      <div class="autoparc__item">
        <img src="./assets/images/laccetti.png" alt="">
        <div class="autoparc__text">Chevrolet Lacetti
        </div>
      </div>
      <div class="autoparc__item">
        <img src="./assets/images/cobalt.png" alt="">
        <div class="autoparc__text">Chevrolet Cobalt
        </div>
      </div>
    </div>
  </div>
</section>
