<section class="autoparc">
  <div class="container">
    <div class="autoparc__title ">
      Наш автопарк
    </div>
    <div class="autoparc__slider owl-carousel">
      <div class="autoparc__item">
        <img src="/images/kalina.png" alt="">
        <div class="autoparc__text">LADA Kalina
        </div>
      </div>
      <div class="autoparc__item">
        <img src="/images/scion.png" alt="">
        <div class="autoparc__text">Toyota Scion xB
        </div>
      </div>
      <div class="autoparc__item">
        <img src="/images/duster.png" alt="">
        <div class="autoparc__text">Renault Duster
        </div>
      </div>
      <div class="autoparc__item">
        <img src="/images/logan.png" alt="">
        <div class="autoparc__text">Renault Logan 2012
        </div>
      </div>
      <div class="autoparc__item">
        <img src="/images/rio.png" alt="">
        <div class="autoparc__text">Kia Rio
        </div>
      </div>
      <div class="autoparc__item">
        <img src="/images/laccetti.png" alt="">
        <div class="autoparc__text">Chevrolet Lacetti
        </div>
      </div>
      <div class="autoparc__item">
        <img src="/images/cobalt.png" alt="">
        <div class="autoparc__text">Chevrolet Cobalt
        </div>
      </div>
    </div>
  </div>
</section>