<section class="comment" id="comment">
  <div class="container">
    <div class="comment__wrapper ">
      <div class="comment__header">
        <div class="comment__icon"></div>
        <div class="comment__title">
          Отзывы
        </div>
      </div>
      <div class="comment__slider slider">
        <div class="comment__info">
          <div class="comment__after">
            <div class="comment__after-name">
              Александр Андреев
            </div>
            <div class="comment__after-time">
              21.07.2022
            </div>
          </div>
          <div class="comment__text">
            Всем кто выбирает в какой автошколе пройти обучение, то смело выбирайте автошколу "Профессионал". Здесь вас
            отлично подготовят к экзаменам в ГИБДД, но самое главное быть уверенным за рулём автомобиля, что я считаю
            самое главное. Лично от себя хочу выразить благодарность всем инструкторам автошколы за их труд. Особенно
            благодарен своему инструктор Дмитрию Александровичу за практическое обучение вождению по городу и Андрею
            Владимировичу за внутренние экзамены и советы по совершенствованию навыков. Всем большое спасибо! Надеюсь
            мой
            отзыв был полезен.

          </div>
        </div>
        <div class="comment__info">
          <div class="comment__after">
            <div class="comment__after-name">
              Анна Мишина
            </div>
            <div class="comment__after-time">
              02.06.2022
            </div>
          </div>
          <div class="comment__text">
            Думаю, это самая ответственная автошкола и не только в городе Чебоксары. Они не только готовят студентов до
            уровня "профессионал", но и помогают перебороть страхи. Однозначно рекомендую автошколу " Профессионал " для
            обучения вождению. Ответственный и дружелюбный коллектив, всегда готовый поддержать. А ещё мало какая
            автошкола может похвастаться тем, что большинство их учеников сдают экзамен с ПЕРВОГО раза (в том числе и
            я)!!! Потому что на внутренних экзаменах мы наша цель не просто сдать внутренний, А научится и сдать с
            лёгкостью. Задания на экзамене покажутся вам полной легкотня и права у вас в кармане!
          </div>
        </div>
        <div class="comment__info">
          <div class="comment__after">
            <div class="comment__after-name">
              Кристина Гордеева
            </div>
            <div class="comment__after-time">
              08.04.2022
            </div>
          </div>
          <div class="comment__text">
            "Профессионал" - лучшая автошкола. И я рада,что попала именно в это место.
            Поначалу было страшно и не всё всегда получалось сразу.Но благодаря моему инструктору Дмитрию,я научилась
            водить,не торопиться и принимать правильные решения.Он спокойно и грамотно объяснял ошибки,помогал,верил в
            меня и поддерживал.Также я очень благодарна Андрею Владимировичу,Роману Сергеевичу,Вадиму Юрьевичу и Сергею
            Николаевичу🤗Это очень дружная команда настоящих профессионалов своего дела,которые помогают,выявляют твои
            слабости и учат с ними бороться.Спасибо за ваш труд!
            Внутренние экзамены не сразу получалось сдавать идеально,волновалась и торопилась.Но зато выявлялись
            слабости и ошибки,которые потом отрабатывались и устранялись на вождении.Так потихоньку получилось добиться
            своей цели и успешно сдать экзамен!!!
            Спасибо автошколе Профессионал!
          </div>
        </div>
        <div class="comment__info">
          <div class="comment__after">
            <div class="comment__after-name">
              Ирина Волнушкина
            </div>
            <div class="comment__after-time">
              21.06.2022
            </div>
          </div>
          <div class="comment__text">
            Качество. Стремление. Профессионализм. Эти слова ассоциируются у меня с автошколой " Профессионал".
            Выбрала я её благодаря высокому проценту сдачи по рейтингу ГИБДД и рекомендациям друзей, это было одно из
            самых верных решений в моей жизни! Хочу отметить высокий уровень знаний инструкторов (порой поражалась тому,
            как мой инструктор качественно излагает информацию), просто асы своего дела! Занятия были очень интересные,
            я полюбила вождение, всегда ловила кайф. Из "гадкого утёнка" меня сделали хорошим водителем, что сама себе
            теперь удивляюсь.
            Отдельно хочу поблагодарить моего инструктора Николая Александровича, прекрасно подготовленный практикующий
            инструктор. Всегда разбирал со мной ошибки и мы вместе их устраняли. Его Ford навсегда в моём сердечке.
            Также благодарю Андрея Владимировича, внутренние экзамены с ним проходили всегда на позитиве и с подробным
            разбором всех недочётов.
            Буду настойчиво рекомендовать автошколу "Профессионал" всем друзьям и знакомым, это место, куда стоит идти!
          </div>
        </div>
        <div class="comment__info">
          <div class="comment__after">
            <div class="comment__after-name">
              Иван Вязов
            </div>
            <div class="comment__after-time">
              06.08.2022
            </div>
          </div>
          <div class="comment__text">
            Спасибо автошколе «Профессионал» и ее инструкторам за качественную подготовку к сдаче экзамена в ГИБДД!
            По своей вине, занимался я нерегулярно, а обучение заняло у меня больше времени, чем у многих других
            курсантов: после прохождения курса теории, я откладывал начало практических занятий, позже откладывал уже
            начало сдачи внутренних экзаменов. Однако, несмотря на все эти мои проявления безответственности, у меня
            получилось сдать и теоретический экзамен, и экзамен в городе в ГИБДД с первого раза! Безусловно, это заслуга
            персонала автошколы.
            Хочется отдельно поблагодарить Николая за обучение меня азам вождения, уроки проходили с вами весело, время
            пролетало незаметно; Дмитрия, который полноценно подготовил меня к экзамену; а так же Романа, Вадима и
            Андрея Владимировича за критику, объяснение ошибок и поддержку на внутренних экзаменах.
            Всем советую обучиться водить автомобиль в этой автошколе, и тогда вы станете ПРОФЕССИОНАЛАМИ за рулем!
          </div>
        </div>
        <div class="comment__info">
          <div class="comment__after">
            <div class="comment__after-name">
              Елена Иванова
            </div>
            <div class="comment__after-time">
              04.03.2022
            </div>
          </div>
          <div class="comment__text">
            Очень давно хотела пойти на права, но никак не решалась. Вот в итоге решилась. Не задумывалась о выборе
            автошколы и пошла в ту что поближе к дому. Как же я рада что именно автошкола "Профессионал" оказалась рядом
            с моим домом. Само название говорит само за себя, здесь работают настоящее профессионалы своего дела,
            которые нацелены на результат (успешную сдачу экзаменов в ГАИ). Здесь царит настоящая семейная обстановка.
            Здесь замечательный директор Андрей Владимирович, он лично знает каждого своего ученика и над чем нужно
            работать каждому. Спасибо моему первому инструктору Гене за начальные навыки вождения. Огромное СПАСИБО моим
            инструкторам Вадиму и Дмитрию, спасибо за знания, за ваш труд, терпение и поддержку!!!
          </div>
        </div>
        <div class="comment__info">
          <div class="comment__after">
            <div class="comment__after-name">
              Евгений Васильев
            </div>
            <div class="comment__after-time">
              12.02.2022
            </div>
          </div>
          <div class="comment__text">
            Отличная Автошкола. Учился теории в Профессионал-Центр, так как было ближе к дому. Насчёт вождения:
            в «Профессионале» очень хорошо меня подготовили к вождению, и, конечно, к сдаче экзамена.
            Плюсы: инструктора всегда идут навстречу, говорят какие ошибки надо исправить и что ещё нужно попрактиковать
            на дороге.
            Насчёт меня: сдал город с третьей попытки, хотя мог и раньше сдать (просто делал глупые ошибки на экзаменах
            🤦‍♂️). И что меня порадовало в «Профессионале», что инструктора были заинтересованы в моей скорейшей сдаче,
            потому что знали, что я готов, и всячески помогали мне в работе над ошибками.
            Ещё раз благодарю автошколу «Профессионал» за отличное обучение.
          </div>
        </div>
        <div class="comment__info">
          <div class="comment__after">
            <div class="comment__after-name">
              Аня Шишкина
            </div>
            <div class="comment__after-time">
              21.02.2022
            </div>
          </div>
          <div class="comment__text">
            Автошколу выбирала по месторасположению, и очень рада что выбрала "Профессионал" ни разу не пожалела. Там
            работают действительно профессионалы своего дела, обучают с нуля. Первое время очень боялась выезжать на
            кольца, а со временем стало даже интересно, появился азарт и начала получать удовольствие за рулём.
            Отдельное спасибо хочется сказать инструкторам Николаю, Сергею Николаевичу за их терпение, знания и
            поддержку это так помогает в достижении цели. Андрею Владимировичу за точные замечания на внутреннем
            экзамене которые помогают настроиться морально, найти и устранить причину ошибок.
            Главное не сдаваться, прислушиваться и устранять замечания, а отличный коллектив автошколы "Профессионал" в
            этом всегда поможет 👍
          </div>
        </div>
      </div>
      <button class="comment__btn">
        Все отзывы
        <img src="./assets/images/strel.svg" alt="" class="item_img">
      </button>
    </div>
  </div>
</section>
