<section class="comment" id="comment">
  <div class="container">
    <div class="comment__wrapper">
      <div class="comment__header">
        <div class="comment__icon"></div>
        <div class="comment__title">
          Отзывы
        </div>
      </div>
      <div class="comment__info">
        <div class="comment__after">
          <div class="comment__after-name">
            Токарев Денис
          </div>
          <div class="comment__after-time">
            08.04.2022
          </div>
        </div>
        <div class="comment__text">
          Всем кто выбирает в какой автошколе пройти обучение, то смело выбирайте автошколу "Профессионал". Здесь вас
          отлично подготовят к экзаменам в ГИБДД, но самое главное быть уверенным за рулём автомобиля, что я считаю
          самое главное. Лично от себя хочу выразить благодарность всем инструкторам автошколы за их труд. Особенно
          благодарен своему инструктор Дмитрию Александровичу за практическое обучение вождению по городу и Андрею
          Владимировичу за внутренние экзамены и советы по совершенствованию навыков. Всем большое спасибо! Надеюсь мой
          отзыв был полезен.

        </div>
      </div>
      <button class="comment__btn">
        Все отзывы
        <img src="/images/strel.svg" alt="" class="item_img">
      </button>
    </div>
  </div>
</section>