<section class="doc">
  <div class="container">
    <div class="doc__wrapper">
      <div class="doc__school">
        <div class="doc__line">Лицензированная школа</div>
        <h1 class="doc__title">Наши документы</h1>
        <div class="doc__subtitle">
          В данном разделе представлены наши лицензии, а также все документы автошколы
        </div>
        <button class="doc__button">
          Записаться
          <img src="/images/strel.svg" alt="">
        </button>
      </div>
      <div class="doc__auto">
        <img src="/images/doc.svg" alt="" class="doc__img">
      </div>
    </div>
  </div>
</section>