<section class="driving">
  <div class="container">
    <div class="driving__wrapper">
      <div class="driving__school">
        <div class="driving__line">Автошкола</div>
        <h1 class="driving__title">Поможем сдать ГАИ с первого раза</h1>
        <div class="driving__subtitle">
          У наших курсантов самый высокий процент сдачи экзамена ГАИ в Чувашии
        </div>
        <a class="btn driving__button js-popup" href="#application">
          Записаться
          <img src="/images/strel.svg" alt="">
        </a>
      </div>
      <div class="driving__auto">
        <img src="/images/auto.jpg" alt="" class="driving__img">
      </div>
    </div>
  </div>
</section>