<section class="faq">
  <div class="container">
    <div class="faq__title">
      Дата создания АНО ДПО ОЦ Профессионал 2003г
    </div>
    <div class="faq__wrapper">
      <div class="faq__item item">
        <div class="item__header">
          <div class="item__title">
            <img src="/images/faq.png" alt="" class="item__img">
            Учредители
          </div>
          <button class="item__button item__button-open">
            Открыть
            <img src="/images/strel.svg" alt="">
          </button>
          <button class="item__button item__button-close">
            Закрыть
            <img src="/images/strel.svg" alt="">
          </button>
        </div>
        <div class="item__footer">
          <span class="item__text">
            — Прохоров Сергей Аркадьевич
          </span>
          <span class="item__text">
            — Федоров Андрей Владимирович
          </span>
        </div>
      </div>
    </div>
  </div>
</section>