<section class="filial">
  <div class="container">
    <div class="filial__cone-wrapper">
      <img class="filial__cone" src="./assets/images/cone.png" alt="">
    </div>
    <h2 class="filial__title">
      Наши филиалы
    </h2>
    <div class="filial__checbox">
      <button class="filial__sity is-active" id="cheb">Чебоксары</button>
      <button class="filial__sity" id="novocheb">Новочебоксарск</button>
    </div>
    <div class="filial__wrapper is-active cheb">
      <div class="filial__map">
        <script type="text/javascript" charset="utf-8" async defer src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A76d0a40ce50bc402171bf3ee10a7ef22f3ea8775d7621be76a1ac3d2a541d2f5&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
      </div>
      <div class="filial__adress adress">
        <div class="adress__item-wrapper">
          <div class="adress__item">
            <span class="adress__title">Центральный офис (НЮР)</span>
            <span class="adress__info">Адрес: Чебоксары, ул Хузангая 14</span>
            <span class="adress__info">Телефон: 8(903)358-90-09</span>
            <span class="adress__info adress__line">Телефон: 8(903)358-36-61</span>
          </div>
          <div class="adress__item">
            <span class="adress__title">Учебный класс (СЗР1)</span>
            <span class="adress__info">Адрес: Чебоксары, ул Университетская 9</span>
            <span class="adress__info">Телефон: 8(903)358-90-09</span>
            <span class="adress__info">Телефон: 8(903)358-36-61</span>
          </div>
        </div>
        <div class="adress__item-wrapper">
          <div class="adress__item">
            <span class="adress__title">Учебный класс (Центр)</span>
            <span class="adress__info">Адрес: Чебоксары, ул Гагарина 23</span>
            <span class="adress__info">Телефон: 8(903)358-90-09</span>
            <span class="adress__info adress__line">Телефон: 8(903)358-36-61</span>
          </div>
          <div class="adress__item">
            <span class="adress__title">Учебный класс (СЗР2)</span>
            <span class="adress__info">Адрес: Моск. проспект д.17, стр.1</span>
            <span class="adress__info">Телефон: 8(903)358-90-09</span>
            <span class="adress__info">Телефон: 8(903)358-36-61</span>
          </div>
        </div>
        <div class="adress__item-wrapper">
          <div class="adress__item">
            <span class="adress__title">Учебный класс (ЮЗР)</span>
            <span class="adress__info">Адрес: Чебоксары, ул Гражданская 119Б</span>
            <span class="adress__info">Телефон: 8(903)358-90-09</span>
            <span class="adress__info">Телефон: 8(903)358-36-61</span>
          </div>
          <div class="adress__item">
            <span class="adress__title">Учебный класс (НЧК)</span>
            <span class="adress__info">Адрес: Новочебоксарск, В.Интернационалистов 9</span>
            <span class="adress__info">Телефон: 8(962)321-30-03</span>
          </div>
        </div>
      </div>
    </div>
    <div class="filial__wrapper novocheb">
      <div class="filial__map">
        <script type="text/javascript" charset="utf-8" async defer src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A15b31b87496dfa2a316fc032254cf0c2e033c1bd95a391556c607fdbd7a7fe5a&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
      </div>
      <div class="filial__adress adress">
        <div class="adress__item-wrapper">
          <div class="adress__item">
            <span class="adress__title">Центральный офис (НЮР)</span>
            <span class="adress__info">Адрес: Чебоксары, ул Хузангая 14</span>
            <span class="adress__info">Телефон: 8(903)358-90-09</span>
            <span class="adress__info adress__line">Телефон: 8(903)358-36-61</span>
          </div>
          <div class="adress__item">
            <span class="adress__title">Учебный класс (СЗР1)</span>
            <span class="adress__info">Адрес: Чебоксары, ул Университетская 9</span>
            <span class="adress__info">Телефон: 8(903)358-90-09</span>
            <span class="adress__info">Телефон: 8(903)358-36-61</span>
          </div>
        </div>
        <div class="adress__item-wrapper">
          <div class="adress__item">
            <span class="adress__title">Учебный класс (Центр)</span>
            <span class="adress__info">Адрес: Чебоксары, ул Гагарина 23</span>
            <span class="adress__info">Телефон: 8(903)358-90-09</span>
            <span class="adress__info adress__line">Телефон: 8(903)358-36-61</span>
          </div>
          <div class="adress__item">
            <span class="adress__title">Учебный класс (СЗР2)</span>
            <span class="adress__info">Адрес: Моск. проспект д.17, стр.1</span>
            <span class="adress__info">Телефон: 8(903)358-90-09</span>
            <span class="adress__info">Телефон: 8(903)358-36-61</span>
          </div>
        </div>
        <div class="adress__item-wrapper">
          <div class="adress__item">
            <span class="adress__title">Учебный класс (ЮЗР)</span>
            <span class="adress__info">Адрес: Чебоксары, ул Гражданская 119Б</span>
            <span class="adress__info">Телефон: 8(903)358-90-09</span>
            <span class="adress__info">Телефон: 8(903)358-36-61</span>
          </div>
          <div class="adress__item">
            <span class="adress__title">Учебный класс (НЧК)</span>
            <span class="adress__info">Адрес: Новочебоксарск, В.Интернационалистов 9</span>
            <span class="adress__info">Телефон: 8(962)321-30-03</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
