<section class="first-step">
  <div class="container">
    <div class="first-step__title">Получите персональное предложение за 3 шага</div>
    <div class="first-step__subtitle">Подберем программу обучения, которая подойдёт именно вам и подарим скидку</div>
    <div class="first-step__text">В каком районе хотите обучаться?</div>
    <div class="first-step__wrapper">
      <div class="first-step__item">
        <img src="/images/mosck.png" alt="">
        <span class="first-step__map">Московский район</span>
      </div>
      <div class="first-step__item">
        <img src="/images/len.png" alt="">
        <span class="first-step__map">Ленинский район</span>
      </div>
      <div class="first-step__item">
        <img src="/images/kalin.png" alt="">
        <span class="first-step__map">Калининский район</span>
      </div>
    </div>
  </div>
</section>