<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <span class="footer__conect">
          С нами можно связаться
        </span>
        <span class="footer__time">
          По будням с 10:00 до 17:00 МСК
        </span>
        <button class="footer__btn">
          Заказать звонок
          <img src="/images/strel.svg" alt="" class="">
        </button>
      </div>
      <div class="footer__center">
        <div class="footer__item">
          <span class="footer__item-title">
            8(903)358-90-09
          </span>
          <span class="footer__sub">
            Прямой отдел продаж
          </span>
        </div>
        <div class="footer__item">
          <span class="footer__item-title">
            madiprofi@mail.ru
          </span>
          <span class="footer__sub">
            Ответим в течение дня
          </span>
        </div>
      </div>
      <div class="footer__right">
        <div class="footer__item">
          <span class="footer__item-title">
            8(903)358-90-09
          </span>
          <span class="footer__sub">
            Telegram, Viber, WhatsApp
          </span>
        </div>
        <div class="footer__icon">
          <img src="/images/vk.svg" alt="" class="footer__icon-vk">
          <img src="/images/tg.svg" alt="" class="footer__icon-tg">
        </div>
      </div>
    </div>
  </div>
  <script src="js/libs.min.js"></script>
  <script src="js/main.min.js"></script>
</footer>