<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <span class="footer__conect">
          С нами можно связаться
        </span>
        <span class="footer__time">
          По будням с 10:00 до 17:00 МСК
        </span>
        <a class="btn js-popup" href="#application">
          Заказать звонок
          <img src="./assets/images/strel.svg" alt="" class="">
        </a>
      </div>
      <div class="footer__center">
        <div class="footer__item">
          <a class="footer__item-title" href="tel:8(903)358-90-09">
            8(903)358-90-09
          </a>
          <span class="footer__sub">
            Прямой отдел продаж
          </span>
        </div>
        <div class="footer__item">
          <a class="footer__item-title" href="mailto:madiprofi@mail.ru">
            madiprofi@mail.ru
          </a>
          <span class="footer__sub">
            Ответим в течение дня
          </span>
        </div>
      </div>
      <div class="footer__right">
        <div class="footer__item">
          <a class="footer__item-title" href="tel:+79033589009">
            8(903)358-90-09
          </a>
          <span class="footer__sub">
            Telegram, Viber, WhatsApp
          </span>
        </div>
        <div class="footer__icon">
          <a href="https://vk.com/avtoprofi21" target="_blank"><img src="./assets/images/vk.svg" alt=""
              class="footer__icon-vk"></a>
          <a href="https://t.me/avtoprofi21" target="_blank"><img src="./assets/images/tg.svg" alt=""
              class="footer__icon-tg"></a>
        </div>
      </div>
    </div>
  </div>



  <div class="mfp mfp--request-popup zoom-anim-dialog mfp-hide" id="application">
    <div class="application-popup">
      <form id="one" >
        <img src="./assets/images/popupmail.svg" alt="" class="application-popup__img">
        <div class="application-popup__title">Оставьте заявку</div>
        <div class="application-popup__desc">Мы свяжемся с вами в течение 1 рабочего дня</div>
        <div class="application-popup__item">
          <div class="application-popup__field">
            <span class="application-popup__info">
              Ваше имя
            </span>
            <input type="text" data-name="name" name="name" class="application-popup__vvod">
          </div>
          <div class="application-popup__number">
            <span class="application-popup__info">
              Ваш телефон
            </span>
            <input type="tel" data-name="phone" name="phone" class="application-popup__vvod">
          </div>
        </div>
        <div class="application-popup__line">
          <div class="application-popup__chec">
            <input type="checkbox" id="info-footer" data-name="legal" name="legal" class="application-popup__checkbox">
            <label for="info-footer" class="application-popup__chec-text">Даю согласие на обработку моих персональных данных</label>
          </div>
          <div class="application-popup__recaptcha" id="recaptcha__one" ></div>
          <button type="submit" class="btn application-popup__btn">
            Отправить
            <img src="./assets/images/strel.svg" alt="" class="">
          </button>
      </div>
      </form>
    </div>
  </div>


  <div class="mfp mfp--request-popup zoom-anim-dialog mfp-hide" id="success">
    <div class="success-popup">
      <div class="success-popup__desc">Мы свяжемся с вами в течение 1 рабочего дня</div>
      <img src="./assets/images/popupmail.svg" alt="" class="success-popup__img">
      <div class="success-popup__title">Заявка принята</div>
    </div>
  </div>
  <script src="./js/libs.min.js"></script>
  <script src="./js/owl.carousel.min.js"></script>
  <script src="./js/slick.min.js"></script>
  <script async src="https://www.google.com/recaptcha/api.js?onload=onloadCallback"></script>
  <script src="./js/main.min.js"></script>
</footer>
