<section class="form" id="form">
  <div class="container">
    <div class="form__title">
      Увеличь шанс сдачи экзамена ГАИ с нами
    </div>
    <div class="form__wrapper">
      <div class="form__box">
        <div class="form__img">
          <img src="./assets/images/netbuk.jpg" alt="">
        </div>
        <div class="form__text">
          <div class="form__text-title">
            Обучение от 2,5 месяцев
          </div>
          <div class="form__text-subtitle">
            Пройди ускоренный курс по стандартной цене в нашей автошколе
          </div>
        </div>
      </div>
      <form class="form__fields">
        <div class="form__item">
          <div class="form__field">
            <span class="form__info">
              Ваше имя
            </span>
            <input type="text" data-name="name" name="name" class="form__vvod">
          </div>
          <div class="form__number">
            <span class="form__info">
              Ваш телефон
            </span>
            <input type="tel" data-name="phone" name="phone" class="form__vvod">
          </div>
        </div>
        <div class="form__line">
          <div class="form__chec">
            <input type="checkbox" id="info" data-name="legal" name="legal" class="form__checkbox">
            <label for="info" class="form__chec-text">Даю согласие на обработку моих персональных данных</label>
          </div>
          <button type="submit" class="btn">
            Отправить
            <img src="./assets/images/strel.svg" alt="" class="">
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
