<section class="gift">
  <div class="container">
    <div class="gift__title">Получите персональное предложение за 3 шага</div>
    <div class="gift__wrapper">
      <div class="gift__item">
        <img src="./assets/images/gift.png" alt="" class="gift__img">
        <div class="gift__box box ">
          <div class="box__title">Начни с выгодой</div>
          <div class="box__text">Дарим скидку до 15% новым курсантам</div>
        </div>
      </div>
      <div class="form__fields">
        <div class="form__item">
          <div class="form__field">
            <span class="form__info">
              Ваше имя
            </span>
            <input type="form" class="form__vvod">
          </div>
          <div class="form__number">
            <span class="form__info">
              Ваш телефон
            </span>
            <input type="number" class="form__vvod">
          </div>
        </div>
        <div class="form__line">
          <div class="form__chec">
            <input type="checkbox" id="info" name="legal" class="form__checkbox">
            <label for="info" class="form__chec-text">Даю согласие на обработку моих персональных данных</label>
          </div>
          <button class="form__btn">
            Отправить
            <img src="./assets/images/strel.svg" alt="" class="">
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
