<section class="gift" id="gift">
  <div class="container">
    <div class="slider-box gift__slider">
      <div>
        <h2 class="first-step__title">Получите персональное предложение за 3 шага</h2>
        <div class="first-step__subtitle">Подберем программу обучения, которая подойдёт именно вам и подарим скидку
        </div>
        <div class="first-step__text">В каком районе хотите обучаться?</div>
        <div class="first-step__wrapper">
          <div class="first-step__item" data-value="Московский район">
            <img src="./assets/images/mosck.png" alt="">
            <span class="first-step__map">Московский район</span>
          </div>
          <div class="first-step__item" data-value="Ленинский район">
            <img src="./assets/images/len.png" alt="">
            <span class="first-step__map">Ленинский район</span>
          </div>
          <div class="first-step__item" data-value="Калининский район">
            <img src="./assets/images/kalin.png" alt="">
            <span class="first-step__map">Калининский район</span>
          </div>
        </div>
      </div>
      <div>
        <div class="second-step__title">Получите персональное предложение за 3 шага</div>
        <div class="second-step__subtitle">Подберем программу обучения, которая подойдёт именно вам и подарим скидку
        </div>
        <div class="second-step__text">На какой коробке хотите обучаться?</div>
        <div class="second-step__wrapper">
          <div class="second-step__item" data-value="Механика">
            <img src="./assets/images/mech.jpg" alt="">
            <span class="second-step__map">Механика</span>
          </div>
          <div class="second-step__item" data-value="Автомат">
            <img src="./assets/images/avt.jpg" alt="">
            <span class="second-step__map">Автомат</span>
          </div>
        </div>
      </div>
      <div>
        <div class="third-step__title">Получите персональное предложение за 3 шага</div>
        <div class="third-step__subtitle">Скидка почти у вас, попробуйте проверить свои знания</div>
        <div class="third-step__text">По какой траектории Вам разрешено продолжить движение налево?</div>
        <div class="third-step__wrapper">
          <div class="third-step__item">
            <img src="./assets/images/third-step01.jpg" alt="">
          </div>
          <div class="third-step__item">
            <div class="third-step__chec">
              <input type="checkbox" id="a" name="legal" class="third-step__checkbox" data-value="Только по А">
              <label for="a" class="third-step__chec-text">Только по А</label>
            </div>
            <div class="third-step__chec">
              <input type="checkbox" id="b" name="legal" class="third-step__checkbox" data-value="Только по Б">
              <label for="b" class="third-step__chec-text">Только по Б</label>
            </div>
            <div class="third-step__chec">
              <input type="checkbox" id="any" name="legal" class="third-step__checkbox" data-value="По любой из указанных">
              <label for="any" class="third-step__chec-text">По любой из указанных</label>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="gift__title">Получите персональное предложение за 3 шага</div>
        <div class="gift__wrapper">
          <div class="gift__item">
            <div class="gift__box box">
              <span class="box__title">Начни с выгодой</span>
              <span class="box__text">Дарим скидку до 15% новым курсантам</span>
            </div>
            <img src="./assets/images/gift.jpg" alt="" class="gift__img">
          </div>
          <form class="gift">
          <div class="form__fields">
            <div class="form__item">
              <div class="form__field">
                <span class="form__info">
                  Ваше имя
                </span>
                <input type="text" data-name="name" name="name" class="form__vvod">
              </div>
              <div class="form__number">
                <span class="form__info">
                  Ваш телефон
                </span>
                <input type="tel" data-name="phone" name="phone" class="form__vvod">
              </div>
            </div>
            <div class="form__line">
              <div class="form__chec">
                <input type="checkbox" id="gift-checkbox" name="legal" data-name="legal" class="form__checkbox">
                <label for="gift-checkbox" class="form__chec-text">Даю согласие на обработку моих персональных данных</label>
              </div>
              <button type="submit" class="btn">
                Отправить
                <img src="./assets/images/strel.svg" alt="" class="">
              </button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
    <div class="gift__footer">
      <div class="gift__progress"></div>
      <div class="gift__navigation">
        <span class="gift__steps">
          1 из 3 шагов
        </span>
        <button class="btn gift__btn">
          Далее
          <img src="./assets/images/strel.svg" alt="">
        </button>
      </div>
    </div>
  </div>
</section>
