<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__item">
        <div class="header__logowrapper">
          <div class="header__logo">
            <img src="/images/logo.png" alt="">
          </div>
          <div class="header__title-wrapper">
            <span class="header__title">
              Профессионал
            </span>
            <span class="header__subtitle">
              лицензированная автошкола
            </span>
          </div>
        </div>
        <ul class="header__nav">
          <li class="header__item-title"><a href="#">Цены</a> </li>
          <li class="header__item-title"><a href="#">Этапы обучения</a></li>
          <li class="header__item-title"><a href="#">Отзывы</a></li>
          <li class="header__item-title"><a href="#">Акции</a></li>
          <li class="header__item-title"><a href="#">Контакты</a></li>
        </ul>
        <div class="hamburger hamburger--slider js-menu">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu">
    <div class="menu__wrapper">
      <div class="menu__lot">Лицензия 77Л01 №0008254</div>
      <div class="menu__phone">+7(495) 972-55-50</div>
      <div class="menu__icon">
        <img src="/images/vk.svg" alt="" class="nav__icon-vk">
        <img src="/images/tg.svg" alt="" class="nav__icon-tg">
      </div>
      <div class="menu__time">10:00 - 20:00 пн-пт</div>
      <div class="menu__mail">madiprofi@mail.ru</div>
      <div class="menu__text">Оставить заявку</div>
    </div>
  </div>
</header>