<section class="kurs">
  <div class="container">
    <h2 class="kurs__title">
      Подберите подходящий курс обучения
    </h2>
    <div class="kurs__wrapper">
      <div class="box">
        <div class="box__title">Старт
        </div>
        <div class="box__time">
          <img src="./assets/images/time-box.svg" alt="">
          <div class="box__subtitle">Обучение с посещением учебных аудиторий</div>
        </div>
        <div class="item">
          <div class="item__wrapper">
            <div class="item__header">
              Коробка механика:
            </div>
            <div class="item__content">
              <div class="item__mix">
                <span class="item__price">
                  10 000
                </span>
                <span class="item__oldprice">
                  13 500
                </span>
              </div>
              <a class="btn item__btn js-popup" href="#application">
                Записаться
                <img src="./assets/images/strel.svg" alt="">
              </a>
            </div>
          </div>
          <div class="item__wrapper">
            <div class="item__header">
              Коробка автомат:
            </div>
            <div class="item__content">
              <div class="item__mix">
                <span class="item__price">
                  10 000
                </span>
                <span class="item__oldprice">
                  13 500
                </span>
              </div>
              <a class="btn item__btn js-popup" href="#application">
                Записаться
                <img src="./assets/images/strel.svg" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="box__info">
          Лучшая программа обучения в Чувашии
        </div>
        <div class="box__wallet">
          <img src="./assets/images/wallet.svg" alt="">
          <div class="box__text">
            Есть рассрочка на период обучения.
          </div>
        </div>
      </div>
      <div class="box">
        <div class="box__title">Онлайн
        </div>
        <div class="box__time">
          <img src="./assets/images/time-box.svg" alt="">
          <div class="box__subtitle">Обучение без посещения учебных аудиторий (кроме контрольных занятий)</div>
        </div>
        <div class="item">
          <div class="item__wrapper">
            <div class="item__header">
              Коробка механика:
            </div>
            <div class="item__content">
              <div class="item__mix">
                <span class="item__price">
                  7 000
                </span>
                <span class="item__oldprice">
                  10 000
                </span>
              </div>
              <a class="btn item__btn js-popup" href="#application">
                Записаться
                <img src="./assets/images/strel.svg" alt="">
              </a>
            </div>
          </div>
          <div class="item__wrapper">
            <div class="item__header">
              Коробка автомат:
            </div>
            <div class="item__content">
              <div class="item__mix">
                <span class="item__price">
                  7 000
                </span>
                <span class="item__oldprice">
                  10 000
                </span>
              </div>
              <a class="btn item__btn js-popup" href="#application">
                Записаться
                <img src="./assets/images/strel.svg" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="box__info">
          Для тех, кто уверен в своих силах
        </div>
        <div class="box__wallet">
          <img src="./assets/images/wallet.svg" alt="">
          <div class="box__text">
            Есть рассрочка на период обучения.
          </div>
        </div>
      </div>
      <div class="box">
        <div class="box__title">Новый шанс
        </div>
        <div class="box__time">
          <img src="./assets/images/time-box.svg" alt="">
          <div class="box__subtitle">от <span class="box__blu">2 часов</span> практика</div>
        </div>
        <div class="item">
          <div class="item__wrapper">
            <div class="item__header">
              Коробка механика:
            </div>
            <div class="item__content">
              <div class="item__mix">
                <span class="item__price">
                  7 000
                </span>
                <span class="item__oldprice">
                  10 000
                </span>
              </div>
              <a class="btn item__btn js-popup" href="#application">
                Записаться
                <img src="./assets/images/strel.svg" alt="">
              </a>
            </div>
          </div>
          <div class="item__wrapper">
            <div class="item__header">
              Коробка автомат:
            </div>
            <div class="item__content">
              <div class="item__mix">
                <span class="item__price">
                  7 500
                </span>
                <span class="item__oldprice">
                  10 500
                </span>
              </div>
              <a class="btn item__btn js-popup" href="#application">
                Записаться
                <img src="./assets/images/strel.svg" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="box__info">
          Для тех, кто отучился в другой автошколе.
        </div>
        <div class="box__wallet">
          <img src="./assets/images/wallet.svg" alt="">
          <div class="box__text">
            Есть рассрочка на период обучения.
          </div>
        </div>
      </div>
      <div class="box">
        <div class="box__title">Максимум
        </div>
        <div class="box__time">
          <img src="./assets/images/time-box.svg" alt="">
          <div class="box__subtitle">35 занятий по <span class="box__blu">90 минут</span> </div>
        </div>
        <div class="item">
          <div class="item__wrapper">
            <div class="item__header">
              Коробка механика:
            </div>
            <div class="item__content">
              <div class="item__mix">
                <span class="item__price">
                  34 500
                </span>
                <span class="item__oldprice">
                  38 500
                </span>
              </div>
              <a class="btn item__btn js-popup" href="#application">
                Записаться
                <img src="./assets/images/strel.svg" alt="">
              </a>
            </div>
          </div>
          <div class="item__wrapper">
            <div class="item__header">
              Коробка автомат:
            </div>
            <div class="item__content">
              <div class="item__mix">
                <span class="item__price">
                  38 500
                </span>
                <span class="item__oldprice">
                  42 500
                </span>
              </div>
              <a class="btn item__btn js-popup" href="#application">
                Записаться
                <img src="./assets/images/strel.svg" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="box__info">
          Для тех, кто хочет получить налоговый вычет
        </div>
        <div class="box__wallet">
          <img src="./assets/images/wallet.svg" alt="">
          <div class="box__text">
            Есть рассрочка на период обучения.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
