<section class="licen">
  <div class="container">
    <div class="licen__title">
      Лицензии и дипломы
    </div>
    <div class="licen__subtitle">
      Лицензия на осуществление образовательной деятельности
    </div>
    <div class="licen__wrapper">
      <div class="licen__item">
        <img src="/images/licen01.png" alt="" class="licen__img">
      </div>
      <div class="licen__item">
        <img src="/images/licen02.png" alt="" class="licen__img">
      </div>
    </div>
  </div>
</section>