<section class="nav">
  <div class="container">
    <ul class="nav__wrapper-mobile">
      <li class="nav__item"> <img src="./assets/images/header01.png" alt=""> <a href="#">Цены</a> </li>
      <li class="nav__item"> <img src="./assets/images/header02.png" alt=""> <a href="#">Этапы обучения</a></li>
      <li class="nav__item nav__lin"> <img src="./assets/images/header03.png" alt=""> <a href="#">Отзывы</a></li>
      <li class="nav__item"> <img src="./assets/images/header04.png" alt=""> <a href="#">Акции</a></li>
      <li class="nav__item"> <img src="./assets/images/header05.png" alt=""> <a href="#">Контакты</a></li>
    </ul>
    <div class="nav__wrapper">
      <div class="nav__lot">Лицензия 77Л01 №0008254</div>
      <a class="nav__phone" href="tel:+74959725550">+7(495) 972-55-50</a>
      <div class="nav__icon">
        <a href="https://vk.com/avtoprofi21" target="_blank"><img src="./assets/images/vk.svg" alt="" class="nav__icon-vk"></a>
        <a href="https://t.me/avtoprofi21" target="_blank"><img src="./assets/images/tg.svg" alt="" class="nav__icon-tg"></a>
      </div>
      <div class="nav__time">10:00 - 20:00 пн-пт</div>
      <a class="nav__mail" href="mailto:madiprofi@mail.ru">madiprofi@mail.ru</a>
      <div class="nav__text">Оставить заявку</div>
    </div>
</section>
