<section class="price">
  <div class="container">
    <div class="price__title">Цены на уроки вождения
    </div>
    <div class="price__wrapper">
      <div class="box">
        <span class="box__title">От 1 занятия
        </span>
        <span class="box__item">
          Категория B (Механика)
        </span>
        <span class="box__text">
          Автомат
        </span>
        <span class="box__price">
          600 руб / 90 мин.
        </span>
        <button class="box-btn">Записаться
          <img src="/images/strel.svg" alt="">
        </button>
      </div>
      <div class="box">
        <span class="box__title">От 1 занятия
        </span>
        <span class="box__item">
          Категория B (Автомат)
        </span>
        <span class="box__text">
          Механика
        </span>
        <span class="box__price">
          700 руб / 90 мин.
        </span>
        <button class="box-btn">Записаться
          <img src="/images/strel.svg" alt="">
        </button>
      </div>
      <div class="box">
        <span class="box__title">От 1 занятия
        </span>
        <span class="box__item">
          Катег(Автомат)
        </span>
        <span class="box__text">
          Площадка
        </span>
        <span class="box__price">
          700 руб / 90 мин.
        </span>
        <button class="box-btn">Записаться
          <img src="/images/strel.svg" alt="">
        </button>
      </div>
    </div>
    <div class="price__info">
      <p>Практика для курсантов и людей, уже получивших права</p>
      <button class="price__btn">Записаться
        <img src="/images/strel.svg" alt="">
      </button>
    </div>
  </div>
</section>