<section class="price">
  <div class="container">
    <h2 class="price__title" id="price">
      Цены на уроки вождения
    </h2>
    <div class="price__wrapper">
      <div class="box">
        <span class="box__title">От 1 занятия
        </span>
        <span class="box__item">
          Категория B (Механика)
        </span>
        <span class="box__text">
          Механика
        </span>
        <span class="box__price">
          600 руб / 90 мин.
        </span>
        <a class="  box-btn js-popup" href="#application">Записаться
          <img src="./assets/images/strel.svg" alt="">
        </a>
      </div>
      <div class="box">
        <span class="box__title">От 1 занятия
        </span>
        <span class="box__item">
          Категория B (Автомат)
        </span>
        <span class="box__text">
          Автомат
        </span>
        <span class="box__price">
          700 руб / 90 мин.
        </span>
        <a class="  box-btn js-popup" href="#application">Записаться
          <img src="./assets/images/strel.svg" alt="">
        </a>
      </div>
      <div class="box">
        <span class="box__title">От 1 занятия
        </span>
        <span class="box__item">
          Автодром
        </span>
        <span class="box__text">
          Площадка
        </span>
        <span class="box__price">
          700 руб / 90 мин.
        </span>
        <a class="  box-btn js-popup" href="#application">Записаться
          <img src="./assets/images/strel.svg" alt="">
        </a>
      </div>
    </div>
    <div class="price__info">
      <p>Практика для курсантов и людей, уже получивших права</p>
      <a class=" btn price__btn js-popup" href="#application">Записаться
        <img src="./assets/images/strel.svg" alt="">
      </a>
    </div>
  </div>
</section>
