<section class="school">
  <div class="container">
    <div class="school__block">
      <div class="school__img">
        <img src="/images/devais.png" alt="" class="school__img">
      </div>
      <div class="school__ul">
        <div class="school__title">
          Школа у вас дома, удобства обучения:
        </div>
        <ul class="school__list">
          <li class="school__item">Возможность повторного просмотра занятий.</li>
          <li class="school__item">Эффективнее обучаться в домашней обстановке.</li>
          <li class="school__item">Интернет-обучение в любой точке мира.</li>
          <li class="school__item">Экономия ваших средств до 60%.</li>
          <li class="school__item">Общение с преподавателем в реальном времени.</li>
        </ul>
        <a class="btn school__button js-popup" href="#application">
          Записаться
          <img src="/images/strel.svg" alt="">
        </a>
      </div>

    </div>
  </div>
</section>