<section class="second-step">
  <div class="container">
    <div class="second-step__title">Получите персональное предложение за 3 шага</div>
    <div class="second-step__subtitle">Подберем программу обучения, которая подойдёт именно вам и подарим скидку</div>
    <div class="second-step__text">На какой коробке хотите обучаться?</div>
    <div class="second-step__wrapper">
      <div class="second-step__item">
        <img src="/images/mech.svg" alt="">
        <span class="second-step__map">Механика</span>
      </div>
      <div class="second-step__item">
        <img src="/images/avt.svg" alt="">
        <span class="second-step__map">Автомат</span>
      </div>
    </div>
  </div>
</section>