<section class="sicret">
  <div class="container">
    <div class="sicret__title">Секреты наших побед</div>
    <div class="sicret__wrap">
      <div class="sicret__block">
        <div class="sicret__icon">
          <img src="./assets/images/sicret01.svg" alt="" class="sicret__icon-img">
        </div>
        <div class="sicret__text">Высокий уровень подготовки</div>
      </div>
      <div class="sicret__block">
        <div class="sicret__icon">
          <img src="./assets/images/sicret02.png" alt="" class="sicret__icon-img">
        </div>
        <div class="sicret__text">Опыт обучения более 20 лет</div>
      </div>
      <div class="sicret__block">
        <div class="sicret__icon">
          <img src="./assets/images/sicret03.svg" alt="" class="sicret__icon-img">
        </div>
        <div class="sicret__text">Профессиональные лекторы</div>
      </div>
      <div class="sicret__block">
        <div class="sicret__icon">
          <img src="./assets/images/sicret04.svg" alt="" class="sicret__icon-img">
        </div>
        <div class="sicret__text">Контролируйте учебный процесс. Смотрите лекции в удобное время</div>
      </div>
      <div class="sicret__block">
        <div class="sicret__icon">
          <img src="./assets/images/sicret05.svg" alt="" class="sicret__icon-img">
        </div>
        <div class="sicret__text">График практических занятий в соответствии с вашими пожеланиями</div>
      </div>
      <div class="sicret__block">
        <div class="sicret__icon">
          <img src="./assets/images/sicret06.png" alt="" class="sicret__icon-img">
        </div>
        <div class="sicret__text">Новейшая система онлайн изучения теории ПДД</div>
      </div>
    </div>
  </div>
</section>
