<section class="third-step">
  <div class="container">
    <div class="third-step__title">Получите персональное предложение за 3 шага</div>
    <div class="third-step__subtitle">Скидка почти у вас, попробуйте проверить свои знания</div>
    <div class="third-step__text">По какой траектории Вам разрешено продолжить движение налево?</div>
    <div class="third-step__wrapper">
      <div class="third-step__item">
        <img src="./assets/images/third-step01.svg" alt="">
      </div>
      <div class="third-step__item">
        <div class="third-step__chec">
          <input type="checkbox" id="a" name="legal" class="third-step__checkbox">
          <label for="a" class="third-step__chec-text">Только по А</label>
        </div>
        <div class="third-step__chec">
          <input type="checkbox" id="b" name="legal" class="third-step__checkbox">
          <label for="b" class="third-step__chec-text">Только по Б</label>
        </div>
        <div class="third-step__chec">
          <input type="checkbox" id="any" name="legal" class="third-step__checkbox">
          <label for="any" class="third-step__chec-text">По любой из указанных</label>
        </div>
      </div>
    </div>
  </div>
</section>
