<section class="training">
  <div class="container">
    <div class="training__title">
      Этапы обучения
    </div>
    <div class="training__block">
      <div class="training__img">
        <img src="./assets/images/box-car.png" alt="">
      </div>
      <div class="training__box">
        <div class="training__boxtitle">
          <button>
            Выбор филиала
            <img src="./assets/images/strel.svg" alt="" class="training__boximg">
          </button>
          <div class="submenu">
            <div class="submenu__title">
              Выбор филиала
            </div>
            <div class="submenu__text">
              В Чебоксарах находится 5 филиалов нашей автошколы. Вы можете выбрать ближайшую и записаться в утреннюю,
              дневную или вечернюю группу, а также в группу выходного дня.
              <br>
              Так же обучение проводится в Новочебоксарске
            </div>
          </div>
        </div>
        <div class="training__boxtitle">
          <button>
            Теория
            <img src="./assets/images/strel.svg" alt="" class="training__boximg">
          </button>
          <div class="submenu">
            <div class="submenu__title">
              Теория
            </div>
            <div class="submenu__text">
              Теоретические занятия проходят в современных оборудованных классах. Преподаватели практикуют
              индивидуальный подход к каждому студенту, чтобы донести информацию всем
            </div>
          </div>
        </div>
        <div class="training__boxtitle">
          <button>
            Практика
            <img src="./assets/images/strel.svg" alt="" class="training__boximg">
          </button>

          <div class="submenu">
            <div class="submenu__title">
              Практика
            </div>
            <div class="submenu__text">
              Занятия по вождению проходят на нашем автодрому у МТВ-центра. Практика в городе по экзаменационным
              маршрумам ГИБДД
            </div>
          </div>

        </div>
        <div class="training__boxtitle">
          <button>
            Экзамены
            <img src="./assets/images/strel.svg" alt="" class="training__boximg">
          </button>
          <div class="submenu">
            <div class="submenu__title">
              Экзамен
            </div>
            <div class="submenu__text">
              Мы подготавливаем все документы для регистрации и сдачи экзамена в ГИБДД. Сдача происходит на дорогах
              общего пользования по маршрутам утвержденным ГИБДД
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
