.btn
	display: flex
	align-items: center
	color: #160605
	font-size: 2.4rem
	line-height: 2.9rem
	position: relative
	text-decoration: none
	width: max-content
	z-index: 0
	> img
		margin-left: 12px
	&::after
		content: ''
		position: absolute
		width: 3rem
		height: 3rem
		border-radius: 99%
		background-color: #81BC06
		right: -1.7rem
		z-index: -1
		top: 50%
		transform: translateY(-50%)
