.faq
  margin-bottom: 110px
  +md
    margin-bottom: 50px
  &__wrapper
    & > *:not(:last-child)
      margin-bottom: 2rem
  &__title
    font-weight: 500
    font-size: 36px
    line-height: 43px
    margin-bottom: 60px
  &__item
    &.is-active
      .faqitem__footer,
      .faqitem__button-close
        display: flex
      .faqitem__button-open
        display: none

.faqitem
  background-color: #fff
  position: relative
  border-radius: 20px
  &__img
    margin-right: 30px
    +md
      margin-right: 10px
  &__header
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 20px
    padding: 20px 40px
    +md
      display: block
  &__title
    font-size: 24px
    line-height: 29px
    +md
      margin-bottom: 20px
  &__button
    &-close
      display: none
  &__footer
    display: none
    flex-direction: column
    border-top: 1px solid #767676
    padding: 20px 40px
    & > *:not(:last-child)
      margin-bottom: 10px
  &__text
    color: #160605
    font-size: 18px
    line-height: 22px
    text-decoration: none
