.nav
  background-color: #E4EDFB
  margin-bottom: 6rem
  padding: 20px
  +lg
    padding: 0
    margin-bottom: 3rem
  .container
    height: 100%
  &__wrapper-mobile
    display: none
    margin-left: auto
    +lg
      background-color: #E4EDFB
      padding: 1rem 2.4rem
      width: 100%
      align-items: baseline
      justify-content: space-between
      display: flex
  &__item
    line-height: 1.9rem
    text-align: center
    &:nth-child(1)
      img
        width: 20px
        +md
          width: 15px
    &:nth-child(2)
      img
        width: 20.4px
        +md
          width: 16.8px
    &:nth-child(3)
      img
        width: 17.1px
        +md
          width: 15px
    &:nth-child(4)
      img
        width: 20px
        +md
          width: 15px
    &:nth-child(5)
      img
        width: 18.9px
        +md
          width: 14.2px
    +xl
      display: flex
      flex-direction: column
      align-items: center
      &:not(:first-child)
        padding-left: .8rem
    a
      text-decoration: none
      color: #160605
      font-size: 1.8rem
      line-height: 2.2rem
      white-space: nowrap
      +md
        font-size: 1.4rem
        line-height: 1.7rem
  &__img
    display: none
    +xl
      display: inline
  &__lin
    +md
      display: none
  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    height: 100%
    +lg
      display: none

  &__lot
    font-weight: 500
    font-size: 1.6rem
    line-height: 1.9rem
    text-decoration: none
    color: #160605
    text-transform: uppercase
  &__phone
    color: #160605
    font-weight: 700
    font-size: 1.6rem
    line-height: 1.9rem
    text-decoration: none
  &__icon
    cursor: pointer
    &-vk
      margin-right: 1rem
  &__time
    font-size: 1.6rem
    line-height: 1.9rem
  &__mail
    color: #160605
    font-size: 1.6rem
    line-height: 1.9rem
    text-decoration: none

  &__text
    font-weight: 500
    font-size: 1.6rem
    line-height: 1.9rem
    position: relative
    text-decoration: none
    color: #160605
    padding-left: 3.5rem
    &::before
      content: ''
      background-image: url(../assets/images/mail.svg)
      background-position: center center
      height: 3rem
      width: 3rem
      background-color: #fff
      position: absolute
      background-repeat: no-repeat
      left: 0
      top: 50%
      transform: translateY(-50%)
      border-radius: 90%
